.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background: #ededed;
  justify-content: center;
  display: flex;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.App-header::after {
  content: " ";
  position: absolute;
  top: calc(100% - 10px);
  width: 100%;
  height: 8px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  filter: blur(3px);
  z-index: 1;
}
.App-header h1,
.App-header h2 {
  margin: 0;
}

section {
  padding: 2em;
}

.select {
  display: inline-flex;
  box-shadow: 0px 0px 0px 2px rgba(85, 85, 85, 0.2);
  overflow: hidden;
  border-radius: 999px;
  padding: 0 1rem;

  position: relative;
  box-shadow: 0 0px 12px 2px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.select select {
  appearance: none;
  border: none;
  outline: none;
  background: #fff;
  padding: 0.75rem 0;
  font-size: inherit;
  padding-right: 1.75em;
  padding-left: 1em;
  background-color: transparent;
  z-index: 2;
}
.select label {
  color: #878787;
}
.select .icon {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

button {
  padding: 0.75em 1.25em;
  outline: none;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  text-transform: uppercase;
  background: #fff;
  box-shadow: 0px 0px 0px 2px rgba(85, 85, 85, 0.2);
  position: relative;
}
button:active {
  background: #d3d3d3;
}
select::before,
button::before {
  /* Position the pseudo-element. */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 999px;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 0px 12px 2px rgba(0, 0, 0, 0.2);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}

button:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}
button + button {
  margin-left: 4px;
}

.button--mini {
  font-size: 0.675rem;
}

.button--primary {
  background: var(--color-primary);
  color: #fff;
}

.row {
  display: flex;
}

.row[class*="cols-"] {
  flex-direction: row;
  flex-wrap: wrap;
}

.row.cols-4 > div,
.row.cols-4 > .column {
  width: calc(25% - 2rem);
}

.row.cols-3 > div,
.row.cols-3 > .column {
  width: calc(33.3% - 2rem);
}

.row.stretch {
  justify-content: stretch;
}

.row.space-between {
  justify-content: space-between;
}

.row.items-center {
  align-items: center;
}

@media (max-width: 586px) {
  .row[class*="cols-"] {
    flex-direction: column;
  }
  .row[class*="cols-"] > * {
    width: 100% !important;
  }
}

img:empty {
  background: linear-gradient(135deg, #e3e3e3, #c3c3c3);
}
