@import "./style/Vars.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Weber Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: rgb(206, 7, 7);
}

@import "./style/components/Forms.css";
